.app-wrapper {
    display: grid;
    grid-template-columns: 300px auto; /* Ширина боковой панели и остальной части */
    min-height: 100vh; /* Заполнение высоты всего экрана */
}

.app-wrapper-content {


}
