@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');
@import "vars.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EBF0FA;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-h1);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}
button{
  border-radius: 1.25em;
  border: 2px solid #37474F;
  background: #FFF;
  padding: 9px 1.25em;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  outline: none;
}
input{
  border: none;
  outline: none;
  padding: 5px 0 10px;
  width: 100%;
  border-bottom: 2px solid #595555;
  font-size: 1.25em;
  color: var(--color-subtext);
  letter-spacing: .6px;
  font-weight: 500;
  font-family: var(--font-lora);
  background: transparent;
}
button.primary{
  border: none;
  font-family: var(--font-montserrat);
  font-size: 1.25em;
  color: #fff;
  padding: 8px 1.95em;
  background-color: var(--color-purple);
  border-radius: 1.25em;
}