:root {
    /* Colors */
    --color-white: #FFFF;
    --color-purple: #A66DF2;
    --color-h1: #37474F;
    --color-subtext: #595555;

    /* Fonts */
    --font-montserrat: "Montserrat";
    --font-lora: "Lora";
}