.body{
  width: 100%;
  h2{
    font-size: 2.87em;
    color: var(--color-title);
    letter-spacing: 1.38px;
  }
  .form{
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    row-gap: 2.3em;
  }
  label{
    font-family: var(--font-lora);
    position: relative;
    p{
      font-weight: 500;
      font-size: 12px;
      opacity: 0.7;
    }
    input + p{
      margin-top: 3px;
    }
    span{
      color: red;
      font-size: 11px;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }
  .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.forgetPassword{
  background: none;
  border: none;
  letter-spacing: 0.6px;
  text-decoration: underline;
  font-size: 1.25em;
  color: var(--color-text);
}
.otherEntrances{
  text-align: center;
  margin: 0 auto;
  p span{
    position: relative;
    font-size: 1.25em;
    letter-spacing: 0.6px;
    &::before, &::after{
      position: absolute;
      content: '';
      width: 150px;
      height: 0.8px;
      background: #595555;
      top: 13.5px;
    }
    &::before{
      right: 3.4em;
    }
    &::after{
      left: 3.4em;
    }
  }
  div{
    margin-top: 10px;
    justify-content: center;
    display: flex;
    column-gap: 1.3em;
    align-items: center;
  }
}